body {
	text-align: center;
}
header,
footer {
	background-color: rgb(24, 20, 20);
	color: rgb(75, 168, 230);
	padding: 10px;
}

footer {
	font-size: 13px;
	letter-spacing: 1.5pt;
}

h1,
h2 {
	margin: 0;
}

h2, #currentdate {
	color: rgb(147, 226, 21);
}

main {
	margin: 10px auto;
	border: 1px solid rgb(189, 219, 20);
	padding: 10px;
	max-width: 500px;
	background-color: rgb(247, 242, 245);
	box-shadow: 0 0 30px;
}

h3 {
	font-size: 24px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgb(25, 25, 29);
	padding: 0;
}

label {
	display: block;
	margin: 5px;
}
